html {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: #EEEEEE;
  }

  body::before {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(67, 133, 161);
    min-height: 100vh;
    overflow: hidden; /* Prevents the floating words from overflowing the body */
  }
  
  .container {
    margin-top: 100px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 2px solid #3B8729;
    background-color: #FFFFFF;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #3B8729;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 24px;
    font-weight: bold;
    color: #3B8729;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3B8729;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3B8729;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #4e933e;
    border-radius: 5px;
  }

  .message {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
    color: #3B8729;
    text-align: center;
  }

  button[type="submit"] {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
  }
  
 
  
  button[type="submit"]:hover::before {
    content: "Ready to go!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table.comicGreen {
    font-family: "Times New Roman", Times, serif;
    border: 2px solid #3B8729;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
  }
  
  table.comicGreen td,
  table.comicGreen th {
    border: 1px solid #3B8729;
    padding: 3px 2px;
  }
  
  table.comicGreen tbody td {
    font-size: 17px;
    font-weight: bold;
    color: #3B8729;
  }
  
  table.comicGreen tr:nth-child(even) {
    background: #CEE0CC;
  }
  
  table.comicGreen thead {
    background: #3B8729;
    background: -moz-linear-gradient(top, #6ca55e 0%, #4e933e 66%, #3B8729 100%);
    background: -webkit-linear-gradient(top, #6ca55e 0%, #4e933e 66%, #3B8729 100%);
    background: linear-gradient(to bottom, #6ca55e 0%, #4e933e 66%, #3B8729 100%);
    border-bottom: 1px solid #444444;
  }
  
  table.comicGreen thead th {
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  
  table.comicGreen thead th:first-child {
    border-left: none;
  }
  
  table.comicGreen tfoot td {
    font-size: 21px;
  }
  
  table.comicGreen tfoot .links {
    text-align: right;
  }
  
  table.comicGreen tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #3B8729;
    padding: 2px 8px;
    border-radius: 5px;
  }


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #5d5a5a;
  color: #fff;
  padding: 10px;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar li {
  margin: 0 10px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.navbar a.active {
  color: #ff0;
  text-decoration: underline;
}

.container2 {
  margin: 15% auto;
  padding: 50px;
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative; /* Allows the floating words to be positioned relative to this element */
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("qr.png");
  background-repeat: repeat;
} */







